<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="text">Task</label>
      <input
        type="text"
        name="title"
        [(ngModel)]="title"
        id="title"
        placeholder="Add Title"
      />
    </div>
    <div class="form-control">
      <label for="description">description</label>
      <input
        type="text"
        name="description"
        [(ngModel)]="description"
        id="description"
        placeholder="Add description"
      />
    </div>
    <div class="form-control form-control-check">
      <label for="reminder">Set Reminder</label>
      <input
        type="checkbox"
        name="reminder"
        [(ngModel)]="reminder"
        id="reminder"
      />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
  </form>